/*-------------------------
	The note
--------------------------*/

.note{
	font: normal 15px 'Courgette', cursive;
	line-height: 17px;
	color:#444;
	background: url('../img/mid.png') repeat-y;
	display: block;
	border: none;

	min-height: 170px;
	overflow: hidden;
	resize: none;
	outline: 0px;
	padding: 0 10px 0 35px;
}

.pad h2{
	background: url('../img/header.png') no-repeat;
	overflow: hidden;
	text-indent: -9999px;
	height: 69px;
	position: relative;
}

.pad:after{
	position:absolute;
	content:'';
	background:url('../img/footer.png') no-repeat;
	width:100%;
	height:40px;
}